<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <b>ShaninBlog</b>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/about" class="navbar-item">
                About
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                
                {% if current_user.is_authenticated %}
                <div class="is-flex is-align-items-center">
                    <figure class="image is-32x32 is-flex is-align-items-center mr-3">
                        <img class="is-rounded" src="{{ current_user.profile_pic }}" alt="{{ current_user.name }}">
                    </figure>
                    <a href="/user/logout" class="button is-light">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
                {% else %}
                <div class="buttons">
                    <a href="/user/login" class="button is-light">
                        login with google
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>